<div class="jumbotron clearfix heading">
  <div class="row">
    <div class="pull-left">
      <h2>いい習慣を身につけて<br>豊かな人生を</h2>
      <div class="subscript">習慣づくりアプリ</div>
      <h1>Make Habits!!</h1>
    </div>
    <% unless logged_in? %>
      <div class="pull-right">
        <%= link_to "新規登録", signup_path, class: "btn btn-success btn-lg", style: "width: 100%; margin:40px 0 30px;" %>
        <%= link_to "ログイン", login_path, class: "btn btn-primary btn-lg", style: "width: 100%" %>
      </div>
    <% end %>
  </div>
</div>
<div class="jumbotron explanation">
  <h2 class="page-header">Make Habits!! とは</h2>
  説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文
</div>