<h1 class="text-center">質問に答えながら、習慣を身につけるあるいはやめるための自分ルールを作成していきましょう！</h1>

<div class="col-xs-6">
  <%= link_to "作りたい習慣がある", "/makes/new",class: "btn btn-info btn-lg btn-block" %>
</div>
<div class="col-xs-6">
  <%= link_to "やめたい習慣がある", "/quits/new", class: "btn btn-warning btn-lg btn-block" %>
</div>